{% extends "layout.html" %}

{% block title %}login-finance{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}

<div class="register-container">
    <div class="register-card">
    <h2>✨Hey! Welcome to the login page✨</h2>
    <p>Please fill your login credentials here</p>
    <form method="post">    
        <input name="username" type="text" placeholder="Username" required autofocus>
        <input name="password" type="password" placeholder="Password" required autofocus>
        <button type="submit">Login</button>
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    </div>
</div>

{% endblock %}