(% extends "layout.html" %)
(% block title %)Search stock(% endblock %)
(% block content %)
<h2>Search Stocks</h2>
<form method="Post">
    <input type="text", name="query", placeholder="Enter ticker" required>
    <button type="submit">Search</button>
</form>

(% if symbol %)
<h3>Result</h3>
<p>Symbol: {{ symbol }}</p>
<p>Name: {{ name }}</p>
<p>Price: (( price ))</p>

<!-- trade button -->
 <a href="{{ url_for('trade', symbol=symbol) }}"><button>Trade {{ symbol }}</button></a>

{% endif %}

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
(% endblock %)